---
// ExperienceItem.astro
interface Props {
  title: string;
  company: string;
  dateFrom: string;
  dateTo: string;
  experiences: string[];
  tags?: string[]
}

const { title, company, dateFrom, dateTo, experiences, tags } = Astro.props;
---

<div class="mb-2 relative">
  <div class="absolute -translate-x-[.95rem] top-2 w-2 h-2 bg-blue-300 rounded-full"></div>
  <div>
    <div class="flex justify-between items-baseline">
      <h3 class="text-md font-bold">{title}</h3>
      <span class="underline text-md font-bold">{dateFrom} - {dateTo}</span>
    </div>
    <div class="text-sm -mt-1">
      <em class="text-gray-500 italic">{company}</em>
    </div>
    {
      tags && tags.map(tag => (
        <span class="inline-block text-gray-800 bg-gray-50 text-[0.8rem] px-2 rounded-full mr-1 mt-1 border border-gray-300">{tag}</span>
      ))
    }
    <br class="my-2" />

    <ul class="list-outside list-['-__'] pl-4 m-0 text-md space-y-1 mt-2">
      {
        experiences.map(ex => (
          <li>
          {ex}
          </li>
        ))
      }
    </ul>
  </div>
</div>

