---
import TopLanguages from "../components/react/TopLanguages";
import TopProjects from "../components/react/TopProjects";
import BusyStatusIndicator from "../components/react/BusyStatusIndicator";
import CurrentlyPlaying from "../components/react/CurrentlyPlaying";
import CurrentlyRunningApplication from "../components/react/CurrentlyRunningApplication";
import Experience from "../components/astro/Experience.astro";
import ExperienceItem from "../components/astro/ExperienceItem.astro";

import EducationItem from "../components/astro/EducationItem.astro";
import DevelopmentBanner from "../components/astro/DevelopmentBanner.astro";
import SectionTitle from "../components/astro/SectionTitle.astro";
import SocialLink from "../components/astro/SocialLink.astro";

import { Image } from "astro:assets";

import GithubLogo from "../assets/icons/github-mark.svg";
import FolderGit2 from "../assets/icons/folder-git-2.svg";
import School from "../assets/icons/school.svg";
import SpotifyLogo from "../assets/icons/spotify.png"
import AppWindow from "../assets/icons/app-window-mac.svg"; 
import Github from "../assets/icons/github.svg";
import Linkedin from "../assets/icons/linkedin.svg";
import Mail from "../assets/icons/mail.svg";
import Phone from "../assets/icons/phone.svg";
import Eye from "../assets/icons/eye.svg";
import FileDown from "../assets/icons/file-down.svg";
import KeyboardLogo from "../assets/icons/keyboard.svg";

import ResumeURL from "/public/Resume.pdf";
import KaggleNotebooks from "../components/react/KaggleNotebooks";
import BackgroundWeb from "../components/react/BackgroundWeb";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Saphal's home</title>

		<style is:global>
			* {
				cursor: url("/cursor_16.png"), default;
			}
		</style>
	</head>
	<body class="overflow-x-hidden">
		<BackgroundWeb radius={120} numPoints={300} client:idle />
		<div id="root" class="flex flex-col gap-2 w-screen items-center p-10">
			<DevelopmentBanner />
			<span class="text-5xl font-serif font-semibold">Saphal K. Poudyal</span>
			<div class="font-[100] italic font-serif">
				Full-stack developer | 
				Research Assistant at The University of Southern Mississippi
			</div>
			<div class="flex flex-col-reverse w-full sm:w-auto sm:flex-row gap-2">
				<BusyStatusIndicator client:idle />
				<CurrentlyPlaying client:idle>
					<Image slot="spotifyLogo" src={SpotifyLogo} alt="Spotify Logo" />
				</CurrentlyPlaying>
			</div>
			<div class="flex flex-col items-center w-full gap-0 lg:max-w-[70%] xl:max-w-[40%] max-w-[100%]">
				<div class="hidden sm:flex flex-row p-2 gap-2">
					<a href="#about-me" class="text-md font-serif text-blue-500 underline cursor-pointer"> About me </a> /
					<a href="#experience" class="text-md font-serif text-blue-500 underline cursor-pointer"> Experience </a> /
					<a href="#top-projects" class="text-md font-serif text-blue-500 underline cursor-pointer"> Top Projects </a> /
					<a href="#notebooks" class="text-md font-serif text-blue-500 underline cursor-pointer"> Notebooks </a> /
					<a href="#top-languages" class="text-md font-serif text-blue-500 underline cursor-pointer"> Top Languages </a>
				</div>
			</div>	
						
			<div id="about-me" class="flex mb-10 flex-col w-full gap-10 my-4 lg:max-w-[70%] xl:max-w-[40%] max-w-[100%]">
				<div class="flex-1 flex flex-col gap-2 font-serif">
					<SectionTitle logo={AppWindow} text="😄 About me" />
					<p class="text-md">I love to build cool stuff!</p>
					<p class="text-md">I'm Saphal Poudyal, currently based on Hattiesburg, Mississppi, USA. Starting out as a self-taught programmer, I have found myself ruffling around software development and machine learning.</p>
					<div class="flex gap-3 flex-col sm:flex-row flex-wrap">
						<SocialLink
							logo={Github}
							alt="Github Icon"
							text="saphalpdyl"
							href="https://github.com/saphalpdyl"
						/>
						<SocialLink
							logo={Linkedin}
							alt="Linkedin Icon"
							text="saphalpdyl"
							href="https://www.linkedin.com/in/saphalpdyl/"
						/>
						<SocialLink
							logo={Mail}
							alt="Mail Icon"
							text="saphalpdyl@gmail.com"
							href="mailto:saphalpdyl@gmail.com"
						/>
						<SocialLink
							logo={Phone}
							alt="Phone Icon"
							text="(601)-307-9253"
							href="#"
						/>
					</div>
					<p class="text-md italic">I'm always enthusiastic towards collaboration. I'm generally active on all the platforms mentioned above. If interested, please contact me through mail.</p>

					<hr>
					<p class="text-md">For professional information on my skills and experience, view my resume:</p>
					<!-- Resume  -->
					<div class="flex flex-col gap-1">
						<div class="flex items-center gap-1">
							<div class="w-4 h-4">
								<Image src={Eye} alt="View Icon" />
							</div>
							<p class="text-md font-bold">
								View my
								<a class="text-blue-500 underline cursor-pointer" target="_blank" href={ResumeURL} aria-label="View resume">resume</a>
								.
							</p>
						</div>
						<div class="flex items-center gap-1">
							<div class="w-4 h-4">
								<Image src={FileDown} alt="View Icon" />
							</div>
							<p class="text-md font-bold">
								Download my
								<a class="text-blue-500 underline cursor-pointer" href={ResumeURL} download aria-label="Download resume">resume</a>
								.
							</p>
						</div>
					</div>
					<hr />
					<CurrentlyRunningApplication client:idle />
					<span class="text-xs italic text-gray-500">The service powering this is written in C++. <a target="_blank" class="text-blue-500 underline cursor-pointer" href="https://www.github.com/saphalpdyl/portfolio-pinger-v2">See how it works</a></span>

				</div>
				<div class="flex-1">
					<SectionTitle logo={School} text="🎓 Education" />
					<div class="flex flex-col sm:flex-row sm:justify-between gap-4">
						<EducationItem 
							education="Bachelor's in Computer Science"
							date="2024 Aug - Present"
							institutionName="The University of Southern Mississippi"
							institutionLocation="Hattiesburg, MS"
						/>
						<EducationItem 
							education="High School in C.S Stream"
							date="2019 Aug - 2023 Aug"
							institutionName="Ambition Academy Secondary School"
							institutionLocation="Kathmandu, Nepal"
						/>
					</div>
				</div>
			</div>
			<div id="experience" class="flex mb-10  flex-col lg:w-full w-full gap-10 lg:max-w-[70%] xl:max-w-[40%] max-w-[100%]">
				<div id="top-projects" class="flex-1 flex flex-col">
					<SectionTitle text="💾 Recent Projects" />
					<TopProjects client:idle>
						<Image slot="projectsLogo" src={FolderGit2} alt="Projects logo"/>
					</TopProjects>
					<div id="notebooks" class="relative mt-5">
						<div class="flex items-center justify-start w-full gap-2">
							<!-- <Image src={KaggleLogo} alt="Kaggle Logo" height={10} width={90}/> -->
							<SectionTitle text="📔 Notebooks" />
						</div>
						<p class="text-md font-serif">
							&nbsp; I also have great passion in Exploratory Data Analysis and Kaggle competitions. Below is the collection of my latest notebooks on Kaggle.
						</p>
						<KaggleNotebooks client:idle/>
						<a href="https://www.github.com/saphalpdyl/gcms" target="_blank" class="text-[11px] font-serif font-thing italic text-gray-600">
							Powered by <span class="underline">GCMS</span>, saphalpdyl
						</a>
					</div>
				</div>
				<div class="w-full flex flex-col items-start flex-1">
					<SectionTitle logo={KeyboardLogo} text="⌛ Experience" />
					<p class="text-md font-serif mb-2">These are my professional experiences through different roles in the industry from the newest to oldest.</p>
					<Experience>
						<ExperienceItem
							title="Undergraduate Research Assistant"
							company="The University of Southern Mississippi Construction and Design"
							dateFrom="Nov 2024"
							dateTo="Present"
							experiences={[
								"Developing a research-based interactive gaming environment in Unity Engine using tools such as Blender, Adobe Substance Painter, Materialize and so on.",
								"Reviewing and filtering to provide quality data for research purposes.",
								"Created an AI-powered automated dev-log workflow between myself and supervisors in Google workspaces with Google Apps Script(GAS) reducing time required on reviewing by 17% (~7 minutes).",

							]}
						/>
						<ExperienceItem
							title="Flutter Developer"
							company="BTech Ltd."
							dateFrom="May 2024"
							dateTo="Aug 2024"
							experiences={[
								"Developed a Flutter based ERP(Entity Resource Planning) system following Clean Architecture and SOLID principles for efficient, scalable, and domain-oriented code.",
								"Implemented journal entries, journal ledgers, inventory management, billing and multiple different financial reports.",
								"Managed project timelines and deliverables to ensure on-time completion and high-quality results completing project 11 days earlier than the deadline.",
								"Collaborated with the client to gather requirements, provide regular updates, and incorporate feedback into the application."
							]}
						/>

						<ExperienceItem
							title="Django Instructor"
							company="Sipalaya Infotech Pvt. Ltd."
							dateFrom="Oct 2023"
							dateTo="July 2024"
							experiences={[
								"Successfully delivered Django programming course for 3 batches of students, with 9 students managing to land an internship within a month of course completion.",
								"Developed and presented course materials, leveraging rapid mastery of programming concepts to effectively educate students."
							]}
						/>

						<ExperienceItem
							title="Full-stack Python Developer Intern"
							company="Sipalaya Infotech Pvt. Ltd."
							dateFrom="Oct 2023"
							dateTo="Apr 2024"
							experiences={[
								"Developed, end-to-end, the CRM service for the Internet service company Beni communications’s administrator web application using Django with PostgreSQL and React.js with Redux and Zustand along with Postman for testing APIs.",
								"Contributed in translation of PHP-based REST APIs into scalable Django implementations.",
								"Reformed the previous billing system with keyboard shortcuts and macros increasing user experience by 30%.",
								"Re-documented 99% of the views and service functions using PyDoc learning test driven development(TDD).",
								"Maintained Continuous Integration (CI) through GitHub Actions and Django Tests and communication through Jira.",

							]}
						/>
					</Experience>
				</div>
			</div>
			
			<!-- <div class="flex lg:flex-row flex-col lg:w-full w-full gap-10 lg:max-w-[70%] max-w-[100%]">
				<div class="flex-1">
					<TopProjects client:idle>
						<Image slot="projectsLogo" src={FolderGit2} alt="Projects logo"/>
					</TopProjects>
				</div>
				<div class="flex-1">
					<div class="flex items-center justify-start w-full gap-2">
						<Image src={KaggleLogo} alt="Kaggle Logo" height={10} width={90}/>
						<SectionTitle text="Notebooks" />
					</div>
					<p class="text-md font-serif">
						&nbsp; I also have great passion in Exploratory Data Analysis and Kaggle competitions. Below is the collection of my latest notebooks on Kaggle.
					</p>
					<KaggleNotebooks client:idle/>
					<a href="https://www.github.com/saphalpdyl/gcms" target="_blank" class="text-[11px] font-serif font-thing italic text-gray-600">
						Powered by GCMS, saphalpdyl
					</a>
				</div>
			</div> -->

			<div id="top-languages" class="flex flex-col lg:w-full w-full gap-10 lg:max-w-[70%] xl:max-w-[40%] max-w-[100%] my-3">
				<div class="flex-1">
					<TopLanguages client:idle>
							<Image slot="githubLogo" src={GithubLogo} alt="Github logo"/>
					</TopLanguages>
				</div>
				<div class="flex-1">
				</div>
			</div>

			<div class="w-full flex flex-col items-center text-gray-300 text-xs font-serif">
				<span>Copyright © 2025 | Saphal Kumar Poudyal</span>
				<span>Hattiesburg, MS, USA</span>
			</div>
		</div>
	</body>
</html>
