---
import BackgroundGrid from "../components/react/BackgroundGrid"
import TopLanguages from "../components/react/TopLanguages";
import TopProjects from "../components/react/TopProjects";
import BusyStatusIndicator from "../components/react/BusyStatusIndicator";
import CurrentlyPlaying from "../components/react/CurrentlyPlaying";
import CurrentlyRunningApplication from "../components/react/CurrentlyRunningApplication";

import EducationItem from "../components/astro/EducationItem.astro";
import DevelopmentBanner from "../components/astro/DevelopmentBanner.astro";
import SectionTitle from "../components/astro/SectionTitle.astro";
import SocialLink from "../components/astro/SocialLink.astro";

import { Image } from "astro:assets";

import GithubLogo from "../assets/icons/github-mark.svg";
import FolderGit2 from "../assets/icons/folder-git-2.svg";
import School from "../assets/icons/school.svg";
import SpotifyLogo from "../assets/icons/spotify.png"
import AppWindow from "../assets/icons/app-window-mac.svg"; 
import Github from "../assets/icons/github.svg";
import Linkedin from "../assets/icons/linkedin.svg";
import Mail from "../assets/icons/mail.svg";
import Phone from "../assets/icons/phone.svg";
import Eye from "../assets/icons/eye.svg";
import FileDown from "../assets/icons/file-down.svg";

import ResumeURL from "/public/Resume.pdf";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Saphal's home</title>

		<style is:global>
			* {
				cursor: url("/cursor_16.png"), default;
			}
		</style>
	</head>
	<body>
		<div id="root" class="flex flex-col gap-2 h-screen w-screen items-center p-10">
			<DevelopmentBanner />
			<BackgroundGrid client:visible />
			
			<span class="text-5xl font-serif font-semibold">Saphal Poudyal</span>
			<div class="font-[100] italic font-serif">
				Full-stack developer | 
				CS Student at the University of Southern Mississppi
			</div>
			<div class="flex flex-col-reverse w-full sm:w-auto sm:flex-row gap-2">
				<BusyStatusIndicator client:idle />
				<CurrentlyPlaying client:idle>
					<Image slot="spotifyLogo" src={SpotifyLogo} alt="Spotify Logo" />
				</CurrentlyPlaying>
			</div>
			<CurrentlyRunningApplication client:idle />

			<div class="flex flex-col lg:flex-row lg:w-full w-full sm:w-auto gap-10 my-4 lg:max-w-[70%] max-w-[100%]">
				<div class="flex-1 flex flex-col gap-2 font-serif">
					<SectionTitle logo={AppWindow} text="About me" />
					<p class="text-xs">No, I don't drink coffee, and I write tests!</p>
					<p class="text-xs">I'm Saphal Poudyal, currently based on Hattiesburg, Mississppi, USA. Starting out as a self-taught programmer, I have found myself ruffling around software development and machine learning.</p>
					<div class="flex gap-3 flex-col sm:flex-row flex-wrap">
						<SocialLink
							logo={Github}
							alt="Github Icon"
							text="saphalpdyl"
							href="https://github.com/saphalpdyl"
						/>
						<SocialLink
							logo={Linkedin}
							alt="Linkedin Icon"
							text="saphalpdyl"
							href="https://www.linkedin.com/in/saphalpdyl/"
						/>
						<SocialLink
							logo={Mail}
							alt="Mail Icon"
							text="saphalpdyl@gmail.com"
							href="mailto:saphalpdyl@gmail.com"
						/>
						<SocialLink
							logo={Phone}
							alt="Phone Icon"
							text="(601)-307-9253"
							href="#"
						/>
					</div>
					<p class="text-xs italic">I'm always enthusiastic towards collaboration. If interested, please contact me through mail.</p>

					<hr>
					<p class="text-xs">For professional information on my skills and experience, view my resume:</p>
					<!-- Resume  -->
					<div class="flex flex-col gap-1">
						<div class="flex items-center gap-1">
							<div class="w-4 h-4">
								<Image src={Eye} alt="View Icon" />
							</div>
							<p class="text-xs font-bold">
								View my
								<a class="text-blue-500 underline cursor-pointer" target="_blank" href={ResumeURL} aria-label="View resume">resume</a>
								.
							</p>
						</div>
						<div class="flex items-center gap-1">
							<div class="w-4 h-4">
								<Image src={FileDown} alt="View Icon" />
							</div>
							<p class="text-xs font-bold">
								Download my
								<a class="text-blue-500 underline cursor-pointer" href={ResumeURL} download aria-label="Download resume">resume</a>
								.
							</p>
						</div>
					</div>
				</div>
				<div class="flex-1">
					<SectionTitle logo={School} text="Education" />
					<div class="lg:divide-y-2 flex flex-col sm:flex-row lg:flex-col gap-4">
						<EducationItem 
							education="Bachelor's in Computer Science"
							date="2024 Aug - Present"
							institutionName="The University of Southern Mississippi"
							institutionLocation="Hattiesburg, MS"
						/>
						<EducationItem 
							education="High School in C.S Stream"
							date="2019 Aug - 2023 Aug"
							institutionName="Ambition Academy Secondary School"
							institutionLocation="Kathmandu, Nepal"
						/>
					</div>
				</div>
			</div>
			
			<div class="flex lg:flex-row flex-col lg:w-full gap-10 lg:max-w-[70%] max-w-[100%]">
				<div class="flex-1">
					<TopProjects client:idle>
						<Image slot="projectsLogo" src={FolderGit2} alt="Projects logo"/>
					</TopProjects>
				</div>
				<div class="flex-1">
					<TopLanguages client:idle>
							<Image slot="githubLogo" src={GithubLogo} alt="Github logo"/>
					</TopLanguages>
				</div>
			</div>
		</div>
	</body>
</html>
